extends ./layout.pug 
block contingut
  h1.titol Chat Messages
  select(id="selectRoom")
      option(value="all") Sala de chat todos
      -for(var i = 1;i<4;i++){
      option(value=i) Sala de chat #{i}
      -}
  br
  br
  label Autor :
  | 
  input#user(type="text" placeholder="Guest")
  br
  br
  .containerChat
    #chat.divheigth
      for message in msgs
        .containerMsgRebut
          p
            strong #{message.user} :
            |  
            a #{message.msg}
          span.time-right #{message.data}
    .row.mt-5
      .col-10
        input#box.form-control(type='text')
      .col-2
        input#send(type='submit' value='enviar')

  script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
  script(type="text/javascript", src="/js/chat.js")
  script(type="text/javascript", src='/socket.io/socket.io.js')
    

      
