extends ./layout.jade 
block contingut
    .containerNova
      .row
        h3 Incidència 1
      form.mt-5
        .row
          .col-2
            p Nom usuari:
          .col
            b Toni
        br
        .row
          .col-2
            p DNI:
          .col
            b 41748211Z
        br
        .row
          .col-2
            label(for='type') Tipus d'incidència:
          .col
            select#type(name='tipus')
              option(value='servidor') Servidor
              option(value='permisos') Problema de permisos
              option(value='espai') Espai en disc
              option(value='altra') Altra
        br
        .row
          .col-2
            label(for='priority') Urgència:
          .col
            select#priority(name='priority')
              option(value='baixa') Baixa
              option(value='mitjana') Mitjana
              option(value='alta') Alta
        .row.mt-5.h-auto
          .col-2
            label(for='desc') Descripció:
          .col
            textarea#desc(rows='10') Incidència sobre missatges xifrats.
        br
        .row.mt-2
          .col-1.offset-9
            a.btn.btn-primary(href='unica') Guardar
          .col-1.offset-1
            a.btn.btn-primary(href='unica') Cancel·lar