extends ./layout.jade 
block contingut
    .containerNova
      .row
        h3 Incidència: #{myData.titol}
      .mt-5
        .row
          .col-2
            p Usuari:
          .col
            b #{myData.usuari}
        br
        .row
          .col-2
            p Tipus d'incidència:
          .col
            b #{myData.tipus}
        br
        .row
          .col-2
            p Urgència:
          .col
            b #{myData.urgencia}
        .row.mt-5.h-auto
          .col-2
            p Descripció:
          .col
            textarea#desc(rows='5' readonly="") #{myData.descripcio}
        br
        .row.mt-2
          .col-1.offset-9
            a.btn.btn-primary(href="/incidencia/#{incidencia._id}/modificar") Modificar
          .col-1.offset-1
            a.btn.btn-primary(href="/incidencia/#{incidencia._id}/eliminar") Eliminar