extends ./layout.pug
block contingut
    .containerLlista
      .row
        .col-sm.marge
          h2 Llista d'incidències
      .row.mt-5
        .col-10
        label(for="text") Filtre per usuario:
          input#user.form-control(type='text')
        .col-2.mt-4
          input#search(type='submit' value='Cercar')
      .row.incidencies#llistaincidencies
        for incidencia in llistaincidencies
          .col-xs-12.col-md-4.mt-5
            h3.titolIncidencia #{incidencia.titol}
            .card
              img.card-img-top(src='/img/incidencia.png' alt='Card image cap' height='200')
              .card-body
                h5.card-title Urgència: #{incidencia.urgencia}
                p.card-text
                  | #{incidencia.descripcio}
                p.card-text
                  | Usuari: #{incidencia.usuari}
                a.btn.btn-primary(href="/incidencia/#{incidencia._id}") Veure incidència

    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    script(type="text/javascript", src="/js/llistaincidencies.js")