extends ./layout.pug 
block contingut
    .containerNova
      .row
        h3 Nova incidència
      form.mt-5(action='/incidencia/nova' method='post')
        .row
          .col-2
            label(for='name') Nom:
          .col
            input#name.form-control(type='text' name="name")
        br
        .row
          .col-2
            label(for='dni') DNI:
          .col
            input#dni.form-control(type='text' name="dni")
        br
        .row
          .col-2
            label(for='type') Tipus d'incidència:
          .col
            select#type(name='type')
              option(value='servidor') Servidor
              option(value='permisos') Problema de permisos
              option(value='espai') Espai en disc
              option(value='altra') Altra
        br
        .row
          .col-2
            label(for='priority') Urgència:
          .col
            select#priority(name='priority')
              option(value='baixa') Baixa
              option(value='mitjana') Mitjana
              option(value='alta') Alta
        .row.mt-5.h-auto
          .col-2
            label(for='desc') Descripció:
          .col
            textarea#desc(name='desc' style='width: 100%; resize: none;' rows='10')
        br
        .row.mt-2
          .col-1.offset-9
            a.btn.btn-primary(href='#') Cancel·lar
          .col-1.offset-1
            input.btn.btn-primary(type="submit" value="Crear")
