extends ./layout.jade
block contingut
  .containerLlista
    .row
      .col-sm.marge
        h2 Llista d'usuaris
          .row.incidencies
            .col-4.mt-5
              h3.titolIncidencia Usuari 01
              .card
                img.card-img-top(src='/img/user.png' alt='Card image cap' height='200')
                .card-body
                  b.card-title Toni
                  p.card-text DNI: 41748211Z
            .col-4.mt-5
              h3.titolIncidencia Usuari 01
              .card
                img.card-img-top(src='/img/user.png' alt='Card image cap' height='200')
                .card-body
                  b.card-title Toni
                  p.card-text DNI: 41748211Z
            .col-4.mt-5
              h3.titolIncidencia Usuari 01
              .card
                img.card-img-top(src='/img/user.png' alt='Card image cap' height='200')
                .card-body
                  b.card-title Toni
                  p.card-text DNI: 41748211Z
        
