body {
  background-color: rgb(224, 245, 220);
  margin: auto;
  width: 60%;
  padding: 60px;
  
}

.incidencies {
  border-radius: 25px;
  margin: 50px;
  background-color: rgb(177, 177, 177);
  padding: 20px;
  padding-right: 5px;
}

.containerNova {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 30px;
  align-items: center;
  word-wrap: break-word;
  align-content: center;
  align-self: center;
  height: 800px;
  width: auto;
}

.containerLlista {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 30px;
  align-items: center;
  word-wrap: break-word;
  align-content: center;
  align-self: center;
  height: auto;
  width: auto;
} 

.containerChat {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 30px;
  align-items: center;
  word-wrap: break-word;
  align-content: center;
  align-self: center;
  height: 800px;
}

.containerMsg {
  border: 2px solid #dedede;
  height: auto;
  padding: 20px;
  padding-bottom: 30px;
  margin-bottom: 10px;
  background-color: rgb(224, 245, 220);
}

.containerMsgRebut {
  border: 2px solid #dedede;
  height: auto;
  padding: 20px;
  padding-bottom: 30px;
  margin-bottom: 10px;
  text-align: right;
  background-color: white;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}

.divheigth {
  height: 650px;
  overflow:scroll;
}

.card {
  width: 95%;
  height: 90%;
}

.row.incidencies {
  height:auto;
}

#desc {
  width: 100%;
  resize: none;
  
}

.card-img-top {
  border: 3px solid #0c0b0b;
}
